/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    height: 100%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-image: url("../images/cork-wallet.png")!important;
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .content {
    flex: 1 0 auto;
} 

/*header style*/

header {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
}

.header-name   {
    align-items: center;
    background: #55aaa4;
    color: white;
    display: flex;
    Height: 80px;
    justify-content: center;
    width: 250px;
}  

nav {
    padding: 20px;
}

nav a {
    padding: 0px 20px;
    text-decoration: none;
}

.border-right {
    border-right: 1px solid #eee;
}

 /*Main Content Area*/

.content-wrapper    {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 120px auto 60px auto;
    padding: 10px;
}

/*Main Section*/

.content-main-section {
    background: white;
    margin: 10px; 
    max-width: 650px;
    padding: 25px 20px;
    width: 100%;
}

.about-me {
    padding-bottom: 20px;
}

.content-main-section p {
    line-height: 2;
    text-indent: 25px;
}

.section    {
    padding-top: 10px;
}

/*form*/

.input {
    color: black;
    font-size: 1em;
    width: 100%;
}

.label {
    max-width: 600px;
    margin: 20px auto;
    width: 100%;
}

.submit {
    background-color: #55aaa4;
    color: white;
    display:inline-block;
    margin: 10px auto;
    padding:10px 30px;
    text-decoration: none;
}

.msg {
    color: black;
    font-size: 1em;
    min-height: 120px;
    max-width: 640px;
    width: 100%;
}

/*connect with me*/

.connect    {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-width: 220px;
    height: 200px;
    justify-content: space-around;
    width: 270px;
}

.connect-with-me {
    margin-top: 25px;
}

.hr-connect {
    border-top: .25px solid #cacdcd;
    margin: 0 auto;
    width: 75%;
}

.icons-connect {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    width: 75%;
}

/*footer style*/

.footer {
    background: #666666;
    flex-shrink: 0;
    height: 80px;
    margin-top: auto;
    width: 100%;
}

.footer-text {
    color: white;
    font-size: .75em;
    padding-top: 30px;
    text-align: center;
}

/*line style*/

.hr-thick { 
   border-top: 2px solid #cacdcd;
   margin: 0 auto;
}

.hr-footer {
    border: 5px solid #5daaa3;
    margin: 0 auto;
}


/*font*/

p, nav a, .label {
    color: grey;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


h1, h2, h3  {
    color: #55aaa4;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

h1 { 
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

/*portfolio style*/

.portfolio-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%;
}

.portfolio-container {
    position: relative;
    margin: 20px 0px;
    width: 275px;
    height: auto;
}

.app-title {
    background-color: #55aaa4;
    bottom: 0;
    color: white;
    margin: 10px 0px;
    padding: 15px 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
/*images*/

img {
    display: block;
}

.resize-icon {
    height: 60px;
    width: 60px;
}

.profile-picture    {
    display: block;
    float: left;
    height: auto;
    padding: 10px 15px 0px 0px;
    width: 200px;
}

.portfolio-img {
    height: auto;
    width: 275px;
}

/*Responsive*/

/*Desktop Layout*/
@media only screen and (max-width: 980px) and (min-width: 768px) {

}

/*Portfolio Page @ 850px*/

@media only screen and (max-width: 850px) {
    .portfolio-wrapper {
        flex-direction: column;
    }

    .portfolio-container {
        height:auto;
        width:340px;
    }

    .portfolio-img {
        width: 340px;
    }

}

/*Tablet Layout*/
@media only screen and (max-width: 768px) {
    
    .content-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .content-main-section {
        width: 100%;
    }

    .connect {
        max-width: 650px;
        width: 100%;
    }
}

/*Phone layout*/
@media only screen and (max-width: 640px) {
    
    
    .header {
        height: 100px;
        position: static;
    }
    .header-name {
        width: 100%;
    }

    .header-wrapper {
        flex-direction: column;
        padding: 0;
    }

    .content-wrapper {
        flex-direction: column;
        margin: 160px auto 60px auto;
    }
    /*centers profile picture*/
    .profile-picture    {
        float: none;
        height: auto;
        margin: 10px auto;
        width: 300px;
    }
    /*Aligns about me header center*/
    .about-me {
        text-align: center;
    }
    /*aligns portfolio pictures center*/
    .portfolio-wrapper {
        align-items: center;
        flex-direction: column;
    }
}
  